.content {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem;
}

.content .author > img,
.user-comments > .author > img,
.user-comments .comments .author > img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.content .author > div,
.user-comments > .author > .info,
.user-comments > .author > .action,
.user-comments .comments .author > div {
    display: inline-block;
    vertical-align: middle;
}

.content .name,
.content .name + div,
.user-comments .name,
.user-comments .name + div,
.user-comments .author .name,
.user-comments .author .name + div {
    display: block;
}

.content .name + div,
.user-comments .name + div,
.user-comments .author .name + div {
    color: #969696;
}

.user-action {
    padding: 1.5rem 0;
    border-top: .1rem solid #f0f0f0;
}

.user-action .like {
    display: inline-block;
    padding: .5rem 2rem;
    cursor: pointer;
    border: .1rem solid orange;
    color: orange;
    border-radius: 5rem;
}

.user-action .comment {
    padding: 3rem 0;
    background: #F8F8F8;
    text-align: center;
    border: .1rem solid #dcdcdc;
    border-radius: .5rem;
}

.user-action .comment button {
    background: #187cb7;
    border-color: #187cb7;
}

.user-comments {
    max-width: 90rem;
    margin: 0 auto;
}

.user-comments .intro {
    background: #F5F5F5;
}

.user-comments .intro > span {
    color: #E8705E;
}

.user-comments > .author {
    padding: 1rem;
}

.user-comments > .author > img,
.user-comments .comments .author > img {
    width: 3rem;
    height: 3rem;
}

.user-comments > .author > .info,
.user-comments > .author > .action,
 .user-comments .comments .author > div {
    line-height: 1.6rem;
}

.user-comments > .author .action,
.user-comments .comments .author .action {
    height: 1.6rem;
    color: #bbb;
}

.user-comments > .author i {
    cursor: pointer;
}

/* 自适应布局 */
.layout-author-img {
    width: 3.5rem;
    height: 3.5rem;
}

.user-comments .comments {
    border-left: .4rem solid #F0F0F1;
}

.user-comments p {
    font-size: 1.4rem;
}

.user-comments textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    font-size: 13px;
}